
@{
    ViewBag.Title = "Checkoutsucces";
}

<div class="container product_section_container" style="margin-top: 145px; margin-bottom: 200px">
    <div class="row">
        <div class="col product_section clearfix">
            <!--Main Container-->
            <div class="row">
                <div class="col-md-12" style="text-align:center" >
                    <h1>Thanh Toán Thành Công !</h1>
                    <p>Đơn hàng của bạn sẽ được giao trong thời gian sớm nhất có thể ^-^</p>
                    <p><a href="/product/index" class="btn btn-default">Tiếp tục mua hàng ヾ(•ω•`)o</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

